ATS_API_URL=https://ats-api-agbpc2drfqccg4gg.southindia-01.azurewebsites.net/api/google-drive
ATS_BEARER_TOKEN=your_jwt_here

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=you@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=you@example.com
